{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Chatroom</title>
</head>
<body>
    <h1>Chat Room</h1>
    <div id="chat">
        <!-- Chat messages will be displayed here -->
    </div>
    <form id="message-form">
        {% csrf_token %} 
        <input type="text" id="message-input" autofocus>
        <button type="submit">Send</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var chatDiv = $('#chat');
            var messageForm = $('#message-form');
            var messageInput = $('#message-input');

            messageForm.on('submit', function(event) {
                event.preventDefault();
                var message = messageInput.val().trim();
                messageInput.val('');

                if (message) {
                    // Display user message in the chat
                    chatDiv.append('<p><strong>You:</strong> ' + message + '</p>');

                    // Send user message to the server
                    $.post('/chat/', { message: message }, function(data) {
                        // Display ChatGPT response in the chat
                        chatDiv.append('<p><strong>ChatGPT:</strong> ' + data.response + '</p>');
                        chatDiv.scrollTop(chatDiv[0].scrollHeight);
                    });
                }
            });
        });
    </script>
</body>
</html>